<!--service block--->
<section class="service-block">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6 width-50">
                <div class="service-details text-center">
                    <div class="service-image">
                        <img alt="image" class="img-responsive" src="/images/icons/wifi.png">
                    </div>
                    <h4><a>Miễn phí Wifi</a></h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 width-50">
                <div class="service-details text-center">
                    <div class="service-image">
                        <img alt="image" class="img-responsive" src="/images/icons/key.png">
                    </div>
                    <h4><a>Dịch vụ phòng</a></h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mt-25">
                <div class="service-details text-center">
                    <div class="service-image">
                        <img alt="image" class="img-responsive" src="/images/icons/car.png">
                    </div>
                    <h4><a>Miễn phí đỗ xe</a></h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 mt-25">
                <div class="service-details text-center">
                    <div class="service-image">
                        <img alt="image" class="img-responsive" src="/images/icons/user.png">
                    </div>
                    <h4><a>Hỗ trợ khách hàng</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--gallery block--->
@Html.Action("SectionRoom", "Menu")
<!--offer block-->
<section class="vacation-offer-block">
    <div class="vacation-offer-bgbanner">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="vacation-offer-details">
                        <h1>NEW EPOCH SAPA HOTEL</h1>
                        <h4>+84975 665 479</h4>
                        <button type="button" class="btn btn-default">Hãy liên hệ với chúng tôi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End-->
<!----resort-overview--->
@Html.Action("HotNews", "Menu")
<!-----blog slider----->
<!--blog trainer block-->
@Html.Action("Reviews", "Menu")
