@model HAHotel.Models.Introduction
@if (Model != null)
{
<textarea name="editor1" id="editor1" rows="100" cols="80">
@*                    @Html.Raw(Model.MainContent)*@
            </textarea>
}
else
{
    <h1>Bạn chưa viết bài giới thiệu công ty</h1>
    <a href="@Url.Action("EditIntroduction", "Home", new {area="Admin"})">Click vào đây để bắt đầu</a>
}
<script src="/AdminStyle/js/ckeditor/ckeditor.js"></script>
<script src="/AdminStyle/ckfinder/ckfinder.js"></script>
@section scripts {
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.

        var editor = CKEDITOR.replace('editor1');

        CKFinder.setupCKEditor(null,'/ckfinder');

    </script>
}