@model HAHotel.Models.Introduction
@if (Model != null && !string.IsNullOrEmpty(Model.MainContent))
{
    @Html.Raw(Model.MainContent)
}
else
{
    <h1>Bạn chưa viết bài giới thiệu công ty</h1>
}
<a href="@Url.Action("EditIntroduction", "Home", new {area="Admin"})">Click vào đây để cập nhật</a>

<script src="/AdminStyle/js/ckeditor/ckeditor.js"></script>
<script src="/AdminStyle/ckfinder/ckfinder.js"></script>
@section scripts {
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.

        var editor = CKEDITOR.replace('MainContent');

        CKFinder.setupCKEditor(null, '/AdminStyle/ckfinder');

    </script>
}