<!-- Sidebar -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="@Url.Action("Index", "RoomType", new {area ="Admin"})" class="active"><i class="fa fa-dashboard fa-fw"></i> Loại phòng</a>
            </li>
            <li>
                <a href="#" class="active"><i class="fa fa-edit fa-fw"></i> Danh mục tin mới</a>
            </li>
            <li>
                <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Danh sách slide</a>
            </li>
            <li>
                <a href="#" class="active"><i class="fa fa-edit fa-fw"></i> Liên hệ</a>
            </li>
            <li>
                <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Bài viết</a>
            </li>
            <li>
                <a href="#" class="active"><i class="fa fa-dashboard fa-fw"></i> Cấu hình</a>
            </li>
        </ul>
    </div>
</div>